.container {
  margin: auto;
  max-width: 100%;
  overflow-x: hidden;
}
.container .notification {
  background: #08090A;
  height: 60px;
}
.container .notification .ground {
  margin: auto;
  width: 1440px;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .notification .ground .text-notification > p {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.33px;
  color: #F5FAFE;
}
.container .notification .ground .img-closed {
  width: 19px;
  height: 16px;
  color: #F5FAFE;
  cursor: pointer;
}
.container .header {
  margin: auto;
  width: 1440px;
  max-width: 100%;
}
.container .header .menu {
  display: flex;
  justify-content: space-between;
}
.container .header .menu .logo-shop {
  margin-left: 30px;
  width: 232px;
  display: flex;
  align-items: center;
}
.container .header .menu .logo-shop .img-logo {
  width: 56px;
  height: 41.91px;
}
.container .header .menu .logo-shop > p {
  font-family: Marko One;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #8CC5F9;
  margin-left: 20px;
}
.container .header .menu .link-menu > ul {
  margin-left: -143px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.container .header .menu .link-menu > ul > li {
  list-style: none;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.96px;
  margin-left: 31px;
  color: #08090A;
  cursor: pointer;
}
.container .header .menu .link-menu > ul > li.active {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.96px;
  color: #8CC5F9;
  border-bottom: 4px solid #8CC5F9;
}
.container .header .menu .img-language {
  margin-top: 27px;
  margin-right: 134px;
}
.container .content .about-us {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  max-width: 100%;
  margin: auto;
}
.container .content .about-us .title-and-content {
  width: 641px;
  height: 345px;
  margin-left: 93px;
}
.container .content .about-us .title-and-content > h2 {
  font-family: Rubik;
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  color: #8CC5F9;
}
.container .content .about-us .title-and-content > p.content {
  font-family: Rubik;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  width: 550px;
  height: 60px;
}
.container .content .about-us .title-and-content > p.content > span {
  font-family: Rubik;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: #8CC5F9;
}
.container .content .about-us .title-and-content button.contact-us {
  width: 250px;
  height: 60px;
  border-radius: 10px;
  background: #8CC5F9;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  margin-top: 74px;
}
.container .content .about-us .img-mountain {
  margin-right: 112px;
  margin-top: 63px;
}
.container .content .analys {
  margin: 83px auto;
  width: 1140px;
  height: 200px;
  border-radius: 10px;
  background: #FFFFFF;
  display: flex;
}
.container .content .analys .all-analys {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.container .content .analys .all-analys .one-layer {
  margin-left: 97px;
  margin-right: 132px;
  display: flex;
}
.container .content .analys .all-analys .one-layer .background-icon {
  width: 55px;
  height: 55px;
  border-radius: 70px;
  background: #8CC5F9;
  position: relative;
  margin-top: 19px;
}
.container .content .analys .all-analys .one-layer .background-icon .img-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 28%;
  top: 25%;
}
.container .content .analys .all-analys .one-layer .text-analys {
  margin-left: 17px;
}
.container .content .analys .all-analys .one-layer .text-analys h3 {
  margin-bottom: -22px;
  font-family: Rubik;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #0B132A;
}
.container .content .analys .all-analys .one-layer .text-analys p {
  font-family: Rubik;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.container .content .analys .all-analys .border {
  border: 2px solid #EEEFF2;
  width: 0px;
  height: 125.57px;
}
.container .content .ground-blur {
  width: 1068.84px;
  height: 189.22px;
  border-radius: 10px;
  background: rgba(13, 16, 37, 0.0117647059);
  margin: -150px auto;
  position: relative;
  z-index: -1;
}
.container .content .features-container {
  display: flex;
  background-color: white;
  padding: 40px;
  width: 1440px;
  margin: 59px auto;
  max-width: 1072px;
}
.container .content .features-container .features-image {
  flex: 1;
  padding-right: 20px;
  width: 558px;
  height: 386px;
  padding-left: 70px;
  margin-top: 55px;
}
.container .content .features-container .features-image img {
  width: 100%;
  border-radius: 10px;
}
.container .content .features-container .features-content {
  flex: 1;
  padding-left: 206px;
  text-align: left;
}
.container .content .features-container .features-content h2 {
  font-family: Rubik;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  text-align: left;
  color: #8CC5F9;
  margin-bottom: 20px;
  width: 383.41px;
  height: 100px;
}
.container .content .features-container .features-content p {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #4F5665;
}
.container .content .features-container .features-content ul {
  list-style: none;
  padding: 0;
}
.container .content .features-container .features-content ul li {
  display: flex;
  align-items: center;
}
.container .content .features-container .features-content ul li .img-check {
  width: 24px;
  height: 24px;
}
.container .content .features-container .features-content ul li > p {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #4F5665;
  padding-left: 10px;
}
.container .content .features-container .features-content a {
  color: #8CC5F9;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 35px;
}
.container .content .best-products {
  padding: 40px 0;
}
.container .content .best-products .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.container .content .best-products .container h2 {
  font-size: 2rem;
  color: #1f2937;
  margin-bottom: 10px;
}
.container .content .best-products .container .description {
  font-size: 1rem;
  color: #555;
  max-width: 800px;
  margin: 0 auto 40px auto;
  padding: 0 20px;
  line-height: 1.6;
}
.container .content .best-products .container .products-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 124px));
  gap: 62px;
}
.container .content .best-products .container .product-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  transition: transform 0.3s ease;
}
.container .content .best-products .container .product-card .image-bluetooth {
  width: 35px;
  height: 39px;
}
.container .content .best-products .container .product-card .icon {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #66a8ff;
}
.container .content .best-products .container .product-card h3 {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  margin-bottom: 10px;
  color: #08090A;
  font-weight: 700;
}
.container .content .best-products .container .product-card p {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #08090A;
  margin-bottom: 20px;
}
.container .content .best-products .container .product-card .more-info {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  padding-top: 5px;
  text-align: center;
  width: 136.74px;
  height: 35.76px;
  color: #66a8ff;
  text-decoration: none;
  border: 1px solid #66a8ff;
  border-radius: 47px;
  display: inline-block;
}
.container .content .better-together {
  width: 1440px;
  max-width: 1440px;
  margin: 10px auto;
}
.container .content .better-together .container {
  overflow-y: hidden;
}
.container .content .better-together .container .text {
  text-align: center;
  margin: 10px auto;
  max-width: 555px;
  width: 555px;
}
.container .content .better-together .container .img-world {
  width: 1060px;
  height: 537.77px;
  margin: auto;
  margin-top: 88px;
}
.container .content .better-together .container .img-brand {
  width: 1135.64px;
  height: 208.32px;
  margin: auto;
  margin-top: 66px;
}
.container .content .happy-customers {
  padding: 40px 0;
}
.container .content .happy-customers .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.container .content .happy-customers .container h2 {
  margin-bottom: 10px;
  font-family: Rubik;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  color: #0B132A;
  text-align: center;
}
.container .content .happy-customers .container .description {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  width: 555px;
  height: 60px;
  text-align: center;
  margin: auto;
}
.container .content .happy-customers .container .customers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-top: 36px;
  margin-left: -133px;
  margin-right: -156px;
}
.container .content .happy-customers .container .customer-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  border: 2px solid #8CC5F9;
}
.container .content .happy-customers .container .customer-card .customer-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.container .content .happy-customers .container .customer-card .customer-info .avatar-user {
  width: 50px;
  height: 50px;
}
.container .content .happy-customers .container .customer-card .customer-info .avatar-user img {
  border-radius: 50%;
  margin-right: 15px;
  overflow: hidden;
}
.container .content .happy-customers .container .customer-card .customer-info h3 {
  font-size: 1.1rem;
  margin: 0;
  color: #1f2937;
}
.container .content .happy-customers .container .customer-card .customer-info p {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
}
.container .content .happy-customers .container .customer-card .testimonial {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.5;
}
.container .footer {
  position: relative;
  height: 563.12px;
}
.container .footer .recruitment {
  width: 1140px;
  height: 233px;
  border-radius: 10px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 95px;
  align-items: center;
  background: white;
  box-shadow: 1px 1px 1px 1px #dac3c3;
}
.container .footer .recruitment .logo-recruitment {
  width: 172px;
  height: 134px;
}
.container .footer .recruitment .text-recruitment {
  width: 421px;
  height: 115.5px;
  margin-top: -71px;
}
.container .footer .recruitment .text-recruitment > h2 {
  font-family: Rubik;
  font-size: 35px;
  font-weight: 500;
  line-height: 45px;
  width: 371.61px;
  height: 80px;
  top: 4567.78px;
}
.container .footer .recruitment .text-recruitment > p {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  width: 410px;
  height: 16px;
}
.container .footer .recruitment button.see-jobs {
  width: 250px;
  height: 60px;
  border-radius: 10px;
  background: #8CC5F9;
  border: none;
  color: white;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
}
.container .footer .background-footer {
  background: #F8F8F8;
  z-index: -1000;
  position: relative;
  margin-top: -119px;
}
.container .footer .background-footer .content-footer {
  display: flex;
  justify-content: space-around;
  padding-top: 160px;
  margin: auto;
  max-width: 1440px;
}
.container .footer .background-footer .content-footer .contact {
  width: 400px;
  margin-left: 166px;
}
.container .footer .background-footer .content-footer .contact .logo-footer {
  display: flex;
}
.container .footer .background-footer .content-footer .contact .logo-footer > p {
  font-family: Marko One;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #8CC5F9;
}
.container .footer .background-footer .content-footer .contact .content-job {
  margin-top: -22px;
}
.container .footer .background-footer .content-footer .contact .content-job > p {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #BDBDBD;
}
.container .footer .background-footer .content-footer .contact .contact-icon {
  display: flex;
}
.container .footer .background-footer .content-footer .contact .img-facebook {
  width: 51.6px;
  height: 51.6px;
  margin-right: 1px;
}
.container .footer .background-footer .content-footer .contact .img-insta {
  width: 51.6px;
  height: 51.6px;
  margin-right: 1px;
}
.container .footer .background-footer .content-footer .contact .img-twister {
  width: 51.6px;
  height: 51.6px;
  margin-right: 1px;
}
.container .footer .background-footer .content-footer .contact .copyright > p {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #AFB5C0;
}
.container .footer .background-footer .content-footer .product {
  width: 74px;
  height: 280px;
  margin: auto;
}
.container .footer .background-footer .content-footer .product > ul {
  margin-top: 40px;
}
.container .footer .background-footer .content-footer .product > ul > li {
  list-style: none;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.container .footer .background-footer .content-footer .product > ul > li.bold {
  font-weight: 700;
}
.container .footer .background-footer .content-footer .engage {
  width: 90px;
  height: 240px;
  margin: auto;
  margin-top: -6px;
}
.container .footer .background-footer .content-footer .engage > ul {
  margin-left: -35px;
  margin-top: 49px;
}
.container .footer .background-footer .content-footer .engage > ul > li {
  list-style: none;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.container .footer .background-footer .content-footer .engage > ul > li.bold {
  font-weight: 700;
}
.container .footer .background-footer .content-footer .privacy {
  width: 96px;
  height: 150px;
  margin: auto;
  margin-top: -10px;
}
.container .footer .background-footer .content-footer .privacy > ul {
  margin-top: 49px;
  margin-left: -104px;
}
.container .footer .background-footer .content-footer .privacy > ul > li {
  list-style: none;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.container .footer .background-footer .content-footer .privacy > ul > li.bold {
  font-weight: 700;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: visible;
}

.img-logo {
  width: 56px;
  height: 41.91px;
}

p.description {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.text h2 {
  font-family: Rubik;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
