.container{
    background: gray;
    width: 100%;
    height: 1480px;
    margin: auto;
}

.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.circle{
    border: 30px solid white;
    border-left-color: blue;
    width: 600px;
    height: 600px;
    margin: auto;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  